<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div class="home-container">
  <div class="home-section">
    <h2>Справочники</h2>
    <a href="/categories" class="page-button">Категории</a>
    <a href="/suppliers" class="page-button">Поставщики</a>
    <a href="/products" class="page-button">Товары</a>
  </div>
  <div class="home-section">
    <h2>Обзор движения медикаментов</h2>
    <a href="/storage/inflow" class="page-button">Записи о приходе товаров</a>
    <a href="/storage/sold" class="page-button">Записи о продаже товаров</a>
    <a href="/storage/written-off" class="page-button">Записи о списании товаров</a>
  </div>
  <div class="home-section">
    <h2>Прочее</h2>
    <a href="/storage" class="page-button">Управление складом</a>
    <a href="/prediction" class="page-button">Прогнозирование потребности в товарах</a>
  </div>
</div>

</body>
</html>