<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div class="home-container">
  <div class="home-section">
    <h2>Справочники</h2>
    <a href="/categories" class="page-button"><button>Категории</button></a>
    <a href="/suppliers" class="page-button"><button>Поставщики</button></a>
    <a href="/products" class="page-button"><button>Товары</button></a>
  </div>
  <div class="home-section">
    <h2>Обзор движения медикаментов</h2>
    <a href="/storage/inflow" class="page-button"><button>Записи о приходе товаров</button></a>
    <a href="/storage/sold" class="page-button"><button>Записи о продаже товаров</button></a>
    <a href="/storage/written-off" class="page-button"><button>Записи о списании товаров</button></a>
  </div>
  <div class="home-section">
    <h2>Прочее</h2>
    <a href="/storage" class="page-button"><button>Управление складом</button></a>
    <a href="/prediction" class="page-button"><button>Прогнозирование потребности в товарах</button></a>
  </div>
</div>

</body>
</html>