<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Справочник товаров</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1 style="text-align: center;">Справочник товаров</h1>

<div class="add-form">
  <h2>Добавить новый товар</h2>
  <form id="add-form">
    <label for="product-name">Название товара</label><br>
    <input type="text" id="product-name"><br>
    <label for="category-id">ID категории товара</label><br>
    <select id="category-id">
      <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <label for="unit-of-measure">Название единицы измерения товара</label><br>
    <input type="text" id="unit-of-measure"><br>
    <label for="expiration-days">Срок годности товара (в днях)</label><br>
    <input type="text" id="expiration-days"><br>
    <label for="is-vital">Входит ли товар в перечень ЖНВЛП?</label><br>
    <input type="checkbox" id="is-vital"><br>
    <button type="submit">Добавить</button>
  </form>
</div>

<div style="margin-top: 60px;"></div>

<div>
  <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Поиск по полям товара...">
</div>

<div style="margin-top: 20px;"></div>

<table id="records-table">
  <thead>
  <tr>
    <th onclick="sortTable(0)">ID</th>
    <th onclick="sortTable(1)">Название</th>
    <th onclick="sortTable(2)">ID категории</th>
    <th onclick="sortTable(3)">Единица измерения</th>
    <th onclick="sortTable(4)">Срок годности (дни)</th>
    <th onclick="sortTable(5)">ЖНВЛП?</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.category.id}"></td>
    <td th:text="${product.unitOfMeasure}"></td>
    <td th:text="${product.expirationDays}"></td>
    <td th:text="${product.isVital}"></td>
    <td><button class="delete-button" onclick="deleteRecord(this, '/products/')">Удалить</button></td>
  </tr>
  </tbody>
</table>

<div style="text-align: center;">
  <a href="/home" class="home-button">Домой</a>
</div>

<script src="/js/common.js"></script>
<script>
  document.getElementById("add-form").addEventListener("submit", function(event) {
    event.preventDefault();

    var productName = document.getElementById("product-name").value.trim();
    var productCategoryId = document.getElementById("category-id").value;
    var productUnitOfMeasure = document.getElementById("unit-of-measure").value.trim();
    var productExpirationDays = document.getElementById("expiration-days").value;
    var productIsVital = document.getElementById("is-vital").value;

    var requestBody = {
      name: productName,
      categoryId: productCategoryId,
      unitOfMeasure: productUnitOfMeasure,
      expirationDays: productExpirationDays,
      isVital: productIsVital
    };

    sendPostRequest(requestBody, '/products');
  });
</script>
</body>
</html>